.advantages__inner {
  background-color: #81b3d2;

  &::after {
    content: "";
    display: flex;
    background-image: url("../../img/photo-city.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
  }
}

.advantages__intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.advantages__subject {
  font-size: 14px;
  line-height: 26px;
}

.advantages__item {
  list-style: none;
}

.advantages__item--bridge {
  background-color: #81b3d2;

  &::after {
    content: "";
    display: flex;
    background-image: url("../../img/bridge.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
  }
}

.advantages__item--accent {
  background-color: #eeeeee;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.advantages__title--dark {
  color: black;
}

.advantages__numbering {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.advantages__numbering--dark {
  color: black;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  color: white;
}

.advantages__description--dark {
  color: black;
}

.advantages__subitem {
  list-style: none;
}

.advantages__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages__subdescription {
  font-size: 14px;
  line-height: 21px;
}
