.advantages__heading {

  .visually-hidden();
}

.advantages__inner {
  background-color: #81b3d2;

  &::after {
    content: "";
    display: flex;
    background-image: url("../img/photo-city.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
}

.advantages__box {
  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages__intro {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  .holder();
}

.advantages__subject {
  font-size: 14px;
  line-height: 26px;

  .holder();
}

.advantages__list {
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  list-style: none;
}

.advantages__item--service {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}


.advantages__item--bridge {
  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-start: 1;
    grid-column-end: -1;
  }

  &::before {
    content: "";
    display: flex;
    background-image: url("../img/bridge.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 260px;
  }
}

.advantages__item--accent {
  background-color: #eeeeee;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: white;

  .holder();
}

.advantages__title--dark {
  color: black;
}

.advantages__numbering {
  font-size: 14px;
  line-height: 21px;
  color: white;

  .holder();
}

.advantages__numbering--dark {
  color: black;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  color: white;

  .holder();
}

.advantages__description--dark {
  color: black;
}

.advantages__sublist {
  padding: 0;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}

.advantages__subitem {
  list-style: none;
}

.advantages__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  .holder();
}

.advantages__subdescription {
  font-size: 14px;
  line-height: 21px;

  .holder();
}
