.reviews__title {
  font-size: 18px;
  line-height: 26px;
}

.reviews__description {
  font-size: 14px;
  line-height: 24px;
}

.reviews__group {
  border:0 none;
}

.reviews__group-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.reviews__label {
  font-size: 14px;
  line-height: 26px;
}

.reviews__input {

 &::-webkit-input-placeholder {
   font-weight: bold;
   font-size: 18px;
   line-height: 26px;
   color: black;
   text-transform: none;
 }
}

.reviews__submit {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
}
